{% extends "base.html" %}

{% block title %}Add Student{% endblock %}

{% block content %}

<h1>Add Student</h1>

<form method="POST">

    <label>Roll Number</label>

    <input
        type="text"
        name="roll_no"
        required
    >


    <label>Student Name</label>

    <input
        type="text"
        name="name"
        required
    >


    <label>Branch</label>

    <input
        type="text"
        name="branch"
        placeholder="Computer Engineering"
        required
    >


    <label>Semester</label>

    <input
        type="number"
        name="semester"
        min="1"
        max="8"
        required
    >


    <label>Email</label>

    <input
        type="email"
        name="email"
        required
    >


    <label>Mobile</label>

    <input
        type="text"
        name="mobile"
        required
    >


    <label>Attendance (%)</label>

    <input
        type="number"
        name="attendance"
        min="0"
        max="100"
        value="0"
    >


    <label>Club Membership</label>

    <select name="club">

        <option value="None">
            None
        </option>

        <option value="Coding Club">
            Coding Club
        </option>

        <option value="Sports Club">
            Sports Club
        </option>

        <option value="Cultural Club">
            Cultural Club
        </option>

        <option value="Computer Society">
            Computer Society
        </option>

    </select>


    <h3>
        Permission Settings
    </h3>

    <label class="checkbox-label">

        <input
            type="checkbox"
            name="read_permission"
        >

        Read Permission

    </label>


    <label class="checkbox-label">

        <input
            type="checkbox"
            name="write_permission"
        >

        Write Permission

    </label>


    <label class="checkbox-label">

        <input
            type="checkbox"
            name="delete_permission"
        >

        Delete Permission

    </label>


    <button type="submit">
        Add Student
    </button>

</form>

{% endblock %}